<h1>Create your secret santa event</h1>
<p>Amount to spend</p>
<%= @event.amount %>

<h2>Add participants</h2>

<%= simple_form_for( [ @event, @participant ], remote: true) do |f| %>
  <%= f.fields_for :participants, [Participant.new]*3 do |participant| %>
    <%= f.input :first_name %>
    <%= f.input :email %>
  <% end %>
  <%= f.submit "Validate", class: "btn btn-primary btn-participants" %>
<% end %>
