<h1>Your event is created !</h1>

<p>Amount : <%= @event.amount%></p>
<ul>Participants :
  <% @event.participants.each do |participant| %>
    <li><%= participant.first_name %> (<%= participant.email %>)</li>
  <% end %>
</ul>

<%= link_to "Add participants", new_event_participant_path(@event), class: "btn btn-success" %>
<%= link_to "Create event", event_allocate_participants_path(@event), class: "btn btn-primary" %>
